.wrapper__header {
    background: linear-gradient(171.96deg, hsla(0, 0%, 100%, .16) 23.28%, hsla(0, 0%, 100%, 0) 77.42%), #ee8208;
    color: #fff;
    line-height: normal;
    padding: 36px 46px 75px;
    display: flex;
    place-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 50px;
}